<h1>STOCKS</h1>
<a class="new-button" href="/stocks/new"><p>NEW STOCK</p></a>

  <div class= "search-area">
   <form style="height: 100%;"action="/stocks/search" method="POST">
   <input class="search-input" type="text" name = "input" placeholder="Search">
   <i class="fa fa-search"></i>
  </form>

 <!-- FILTER SELECT -->
  <p style="padding-left: 20px;">Filter by category</p>

    <form class="" action="/stocks/filter" method="post">

    <select style="margin-top: 16px; margin-left: 10px;" class="" name="filter_type">

    <% for type in Types.all %>
      <option value="<%= type %>"><%= type %></option>
    <% end %>

      <input class="btn btn--action" type='submit' value="FILTER">
</form>


</div>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Stock Left</th>
    <th>Price</th>
    <th>View</th>
  </tr>

  <% for stock in @stocks %>
  <% classtype = "none" %>

  <% case stock.type
   when "Game" %>
  <% classtype = "type-game"  %>
  <% when "Film" %>
  <% classtype = "type-film"  %>
  <% when "TV-Show" %>
  <% classtype = "type-tvshow"  %>
  <% end %>


  <tr class="<%= classtype %>">
    <td><img class="stock-img" src="<%= stock.image %>" alt="IMAGE"></td>
    <td><%= stock.name %></a></td>
    <td><%= stock.amount %></td>
    <td><%= stock.price %></td>
    <td><a class="new-button" href="/stocks/<%= stock.id %>"><p>VIEW</p></a></td>
  </tr>
  <% end %>
</table>
