<h1>STOCKS</h1>
<a class="new-button" href="/stocks/new"><p>NEW STOCK</p></a>
<table>
  <tr>
    <th>IMG</th>
    <th>Name</th>
    <th>Amount</th>
    <th>Price</th>
  </tr>
  <% for stock in @stocks %>
  <tr>
    <td><img class="stock-img" src="<%= stock.image %>" alt=""></td>
    <td><a href="/stocks/<%= stock.id %>"><%= stock.name %></a></td>
    <td><%= stock.amount %></td>
    <td><%= stock.price %></td>
  </tr>
  <% end %>
</table>
